@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GongGothicMedium";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body {
  background: rgb(34, 193, 195) no-repeat fixed;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-size: 100% 100%;
  position: sticky;
} */
